.header__nav{

  display: flex;
  align-items: center;
  font-family: var(--openSans);
  font-weight: 600;

  ul {
    display: flex;
    align-items: center;
    color: #fff;
    margin: 0;
    gap: 40px;

    li {
      list-style: none;
      cursor: pointer;
    }
  }

}